CompileFlags:
  Compiler: /usr/bin/g++

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - modernize-*
      - portability-*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-use-nodiscard
      - modernize-use-auto
      - modernize-loop-convert
      - modernize-avoid-c-arrays
      - readability-magic-numbers
      - readability-identifier-length
      - bugprone-easily-swappable-parameters